client/src/main/resources/META-INF/tinyrpc-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.jlx.com/schema/tinyrpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.jlx.com/schema/tinyrpc"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the tinyrpc provided by jlx. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="annotation-driven">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ tinyrpc spring 加载服务 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="registry" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心地址，可以用逗号分隔指定多个 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listenPort" type="xsd:int" default="8888">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务监听端口 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:int" use="optional" default="10000">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 远程调用超时时间，默认10秒 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>